body {
    min-height: 100vh;
}

.signup-shelter {
    background: url("../../img/joe-caione-qO-PIF84Vxg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.signup-shelter form {
    background: white;
    color: var(--primary);
    border: 2px solid var(--primary);
    box-shadow: rgba(0, 0, 0, 0.5) 0.5rem 0.5rem 1rem 0;
    padding: 25px 40px;
    border-radius: .5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: first baseline;
}

.signup-shelter form h1 {
    align-self: center;
    margin-bottom: 2rem;
}

.signup-shelter .text-input {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 0.5rem;
}
.signup-shelter .form-outline {
    width: 100%;
}
.signup-shelter input.form-control {
    flex-grow: 1;
}

.signup-shelter form .submit-details {
    margin-top: 0.5rem;
}

.signup-shelter form .agreement {
    margin-top: 0.5rem;
}
.signup-shelter form .agreement input {
    margin-right: 0.3rem;
}

.signup-shelter form .error-message {
    color: red;
}