header {
    justify-content: space-between;
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 1rem;
    background-image: url('../../../public/img/joe-caione-qO-PIF84Vxg-unsplash.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.25rem;
}

#page-logo img {
    margin-right: 0.5rem;
}

#page-logo h1 {
    color: var(--light-text);
    font-family: 'Advent Pro', sans-serif;
    font-weight: 500;
}

#slogan {
    color: var(--light-text);
    font-family: 'Advent Pro', sans-serif;
    font-weight: 500;
    font-size: larger;
}

.carousel-inner, .carousel-item {
    width: 100%;
    height: 100%;
}

div.carousel-item div.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.carousel-item div.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.carousel-caption {
    background-color: rgba(22, 22, 22, 0.5);
    width: 100%;
    left: unset !important;
    right: unset !important;
}

#carousel-testimonials {
    overflow: hidden;
    height: calc(100% - 2.6rem);
    width: 100%;
}

.aero-tile {
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0.5rem 0.5rem 1rem 0;}

#testimonials {
    max-width: 80vw;
    width: 80vw;
    max-height: 60vh;
    height: 60vw;
}

#testimonials h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    color: var(--dark-text);
    font-weight: 700;
}

#features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

#features > div {
    color: var(--dark-text);
    text-align: center;
}

#features > h2 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    color: var(--dark-text);
    font-weight: 700;
}

#features > div > h3 {
    color: var(--dark-text);
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    #features {
        grid-template-columns: auto;
    }

    #features > h2 {
        grid-column: 1;
    }
}

.carousel {
    overflow: hidden;
    border-radius: 0.5rem;
}

#features .feature-image {
    overflow: hidden;
    width: 100%;
    border-radius: 0.5rem;    
    margin-bottom: 0.5rem;
}

#features .feature-image img {
    width: 100%;
    object-fit: cover;
}

#login-buttons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: var(--footer-height);
}
