.pet-application #page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    padding-bottom: calc(50px + var(--footer-height));
    padding-top: calc(50px + var(--footer-height));
    /* background: url("img/digital_art_background.png"); */
    /* background-size: cover;
    background-attachment: fixed; */
    min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

.pet-application form {
    padding: 1rem;
    border: 2px solid var(--secondary);
    border-radius: 0.5rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    container-type: inline-size;
    width: 80%;
}

.pet-application form h2 {
    text-align: center;
}

.pet-application form #profile-pic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: solid;
    border-width: 2px;
    border-color: var(--secondary);
}

.pet-application form #profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.pet-application .text-input {
    display: block;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.pet-application .chat-box {
    width: 100%;
}

.pet-application .chat-input {
    width: 100%;
    text-align: center;
}

.pet-application .input-box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pet-application .form-group {
    width: 40%;
}

.pet-application .btn-green {
    background-color: seagreen;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    /* width: 110px;
    text-align: center; */
  }
  
.pet-application .btn-red {
    background-color: rosybrown;
    color: white;
    padding: 10px 20px;
    /* width: 110px;
    text-align: center; */
}

.pet-application .btn-link {
    margin-bottom: 10px; 
    text-decoration: none; 
}
